@import "../../_globalColor";

.myMargin {
  margin-right: 10px;
}

.myMargin2 {
  margin-left: 10px;
}

.cen {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
}

thead tr {
  background-color: #ddd;
  font-weight: bold;
}

th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.center-button {
  text-align: center;
}

.center-button button {
  margin: 0 auto;
}

.fade {
  background-color: #7D85C7;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 6px;
}

.fade:hover {
  background-color: $darkBoxShadow2;
  color: $buttonColor;
  transform: translateY(-3px);
}

.fade2 {
  background-color: #2196F3;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 10px;
}

.fade2:hover {
  background-color: $darkBoxShadow2;
  color: $buttonColor;
  transform: translateY(-3px);
}

.button-row {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.topRight {
  position: absolute;
  top: 0;
  right: 0;
}

/*affects all buttons!!!!*/

.button2 {
  transition: all 0.3s ease 0s;
}

.button2:hover {
  background-color: $darkBoxShadow2;
  color: $buttonColor;
  transform: translateY(-3px);
}

.cen2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  max-width: 90%;
  width: 800px; /* Adjust the width as desired */
  max-height: 90%;
  overflow: auto;
  text-align: center;
}

.edit-icon {
  color: #7D85C7;
  cursor: pointer;
  transition: color 0.3s;
}

.edit-icon:hover {
  color: #514C98;
}

