.containerfr {
  margin: 0;
  padding: 0;
  background-image: url('../../assets/images/fillifyBG.png');
  background-repeat: repeat;
  background-size: auto;
}

.containerfr > .input-row {
  margin: 0 25px; /* Adjust the left and right margins as needed */
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;

  input {
    flex-basis: calc(33.33% - 0.5rem); /* Adjust the flex-basis calculation to create spacing between inputs */
    margin-right: 0.5rem;
    margin-bottom: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.legend-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    i {
      margin-right: 0.5rem;
    }
  }
}

.submit-buttonfr {
  margin-top: auto;
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 0.5rem;
  background-color: #7D85C7;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;

  &:hover {
    background-color: #514C98;
    cursor: pointer;
  }
}

.plzcen {
  display: flex;
  justify-content: center;
  align-items: center;
}
